@font-face {
  font-family: old;
  src: url(extra_old/ExtraOld_PERSONAL_USE_ONLY.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: old;
}
/* nav sec */
.header {
  background: #236789;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.844);
  padding: 15px 0;
  line-height: 1.5;
}
.header .container {
  max-width: 1170px;
  margin: auto;
}
.header .container .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header .container .row .logo,
.header .container .row .nav {
  padding: 0 15px;
}
.header .container .row .logo a {
  font-size: 30px;
  color: #06ea11;
  text-transform: capitalize;
}
.header .container .row .nav ul li {
  display: inline-block;
  margin-left: 40px;
}
.header .container .row .nav ul li a {
  display: block;
  font-size: 18px;
  text-transform: capitalize;
  color: #06ea11;
  padding: 6px 0;
  transition: all 0.5s ease;
}
.header .container .row .nav ul li a:hover {
  color: aqua;
}

.nav-toggler {
  height: 34px;
  width: 44px;
  background: wheat;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  display: none;
  margin-right: 15px;
}
.nav-toggler:focus {
  outline: none;
  box-shadow: 0 0 15px #06ea11;
}
.nav-toggler span {
  height: 2px;
  width: 24px;
  background: #236789;
  display: block;
  margin: auto;
  position: relative;
  transition: all 0.3s ease;
}
.nav-toggler.active span {
  background: transparent;
}
.nav-toggler span::before,
.nav-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #236789;
  transition: all 0.3s ease;
}
.nav-toggler span::before {
  transform: translateY(-6px);
}
.nav-toggler.active span::before {
  transform: rotate(45deg);
}
.nav-toggler span::after {
  transform: translateY(6px);
}
.nav-toggler.active span::after {
  transform: rotate(135deg);
}

@media (max-width: 991px) {
  .nav-toggler {
    display: block;
  }
  .header .container .row .nav {
    width: 100%;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: all 0.5s ease;
  }
  .header .container .row .nav.open {
    visibility: visible;
  }
  .header .container .row .nav ul {
    padding: 12px 15px;
    border-top: 2px solid #06ea11;
    margin-top: 12px;
  }
  .header .container .row .nav ul li {
    display: block;
    margin: 0;
  }
}
/* end nav sec */

/* card games */
.card-body {
  background: #222;
  height: 90vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.card-groups,
.card-group,
.card {
  aspect-ratio: 5 / 7;
}

.card-groups,
.card-group,
.big-card {
  width: 30vmin;
}

.card-group {
  position: absolute;
  transition: all 400ms ease;
}

.card {
  aspect-ratio: 5 / 7;
  background: rgba(255, 255, 255, 0.293);
  position: absolute;
  cursor: pointer;
  transition: all 800ms;
  transition-timing-function: cubic-bezier(0.05, 0.43, 0.25.95);
}
.big-card {
  width: 30vmin;
  border-radius: 10px;
}
.little-cards {
  width: 12vmin;
  border-radius: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.card-group[data-status="unknown"] {
  transform: scale(0);
}
.card-group[data-status="active"] {
  transition-delay: 300ms;
}
.card-group[data-status="after"] {
  transform: translateX(80%) scale(0) rotate(20deg);
}
.card-group[data-status="becoming-active-from-before"] {
  transform: translateX(-80%) scale(0) rotate(-20deg);
  transition: none;
}
.card-group[data-status="before"] {
  transform: translateX(-80%) scale(0) rotate(-20deg);
}
.card-group[data-status="becoming-active-from-after"] {
  transform: translateX(80%) scale(0) rotate(20deg);
  transition: none;
}
.little-cards:nth-child(1) {
  background-image: url(card_images/cat-glasses-space-abstract-wallpaper-preview.jpg);
  background-position: center;
  background-size: cover;
}
.little-cards:nth-child(3) {
  background-image: url(card_images/download.jfif);
  background-position: center;
  background-size: cover;
}
.little-cards:nth-child(5) {
  background-image: url(card_images/pexels-photo-617278.jpeg);
  background-position: center;
  background-size: cover;
}
.little-cards:nth-child(7) {
  background-image: url(card_images/unnamed.png);
  background-position: center;
  background-size: cover;
}
.big-card:nth-child(2) {
  background-image: url(card_images/255883.webp);
  background-position: center;
  background-size: cover;
  transform: translateX(-10%) rotate(-2deg);
}
.big-card:nth-child(4) {
  background-image: url(card_images/5636721.webp);
  background-position: center;
  background-size: cover;
  transform: rotate(4deg);
}
.big-card:nth-child(6) {
  background-image: url(card_images/car-neon-chevrolet-corvette-race-cars-hd-wallpaper-preview.jpg);
  background-position: center;
  background-size: cover;
  transform: translateX(-6%) rotate(-4deg);
}
.big-card:nth-child(8) {
  background-image: url(card_images/cat-4k-hd-wallpaper-preview.jpg);
  background-position: center;
  background-size: cover;
  transform: translateX(10%) rotate(6deg);
}

.card-group[data-index="1"] > .big-card:nth-child(6) {
  background-image: url(card_images/car-neon-chevrolet-corvette-race-cars-hd-wallpaper-preview.jpg);
}
.card-group[data-index="1"] > .big-card:nth-child(8) {
  background-image: url(card_images/unnamed.png);
}

/* big-card hover animation */
.card-group:hover > .big-card:nth-child(2) {
  transform: translate(-70%, 12%) rotate(-20deg);
}
.card-group:hover > .big-card:nth-child(4) {
  transform: translate(-40%, 6%) rotate(-7deg);
}
.card-group:hover > .big-card:nth-child(6) {
  transform: translate(10%, 4%) rotate(7deg);
}
.card-group:hover > .big-card:nth-child(8) {
  transform: translate(70%, 14%) rotate(17deg);
}
/* little-card hover animation */
.card-group:hover > .little-cards:nth-child(1) {
  transform: translate(260%, -160%) rotate(16deg);
}
.card-group:hover > .little-cards:nth-child(3) {
  transform: translate(260%, 160%) rotate(-16deg);
}
.card-group:hover > .little-cards:nth-child(5) {
  transform: translate(-300%, -150%) rotate(-18deg);
}
.card-group:hover > .little-cards:nth-child(7) {
  transform: translate(-350%, 160%) rotate(12deg);
}
/* buttons */
.card-swiper-buttons {
  margin-top: 8vmin;
  display: flex;
  justify-content: space-around;
  /* padding: 0vmin 1vmin; */
}
.card-swiper-buttons button {
  padding: 20px;
  text-align: center;
  font-size: 30px;
  border-radius: 50%;
  border: 2px solid wheat;
  color: #fff;
  background: transparent;
  cursor: pointer;
}

/* end card games */

/* carmel img hover animation */
.carmel-body {
  height: 100vh;
  width: 100%;
  background: #092431;
  overflow: hidden;
  position: relative;
}
#img-track {
  display: flex;
  gap: 12px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
}
#img-track .image {
  height: 360px;
  width: 220px;
  object-fit: cover;
  object-position: 50%;
}
/* end carmel img hover animation */

/* up-box */
.up-box-body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  overflow: hidden;
}
.up-box-body .container {
  position: relative;
  width: 100%;
  transform: rotate(-40deg);
}
.up-box-body .container .box{
  position: relative;
  left: -200px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% + 400px);
  -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
  animation: animateSurface 1.5s ease-in-out infinite;
}

@keyframes animateSurface{
  0%{
    transform: translateX(0px);
  }
  100%{
    transform: translateX(-50px);
  }
}

.up-box-body .container .box .cube{
  position: relative;
  width: 120px;
  height: 120px;
  background: aqua;
  box-shadow:  0 0 5px rgba(3, 233, 244, 1),
  0 0 25px rgba(3, 233, 244, 1),
  0 0 50px rgba(3, 233, 244, 1)
  ,0 0 100px rgba(3, 233, 244, 1),
  0 0 200px rgba(3, 233, 244, 0.5),
  0 0 300px rgba(3, 233, 244, 0.5);
  transform-origin: bottom right;
  animation: animate 1.5s ease-in-out infinite;
}

@keyframes animate{
  0%{
    transform: rotate(0deg);
  }
  60%{
    transform: rotate(90deg);
  }
  65%{
    transform: rotate(85deg);
  }
  70%{
    transform: rotate(90deg);
  }
  75%{
    transform: rotate(87.5deg);
  }
  80%, 100%{
    transform: rotate(90deg);
  }
}

/* end up-box */

/* image masking */
.image-mask{
  width: 100%;
  height: 90vh;
  background: #333;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
  flex-direction: column;
}
.image-mask .container{
  display: flex;
  flex-direction: column;
  position: relative;
}
.image-mask .container .title{
  font-size: 50px;
  color: rgb(7, 47, 86);
  padding: 10px;
  z-index: 2;
  position: relative;
  text-transform: uppercase;
  line-height: 2;
}
.image-mask .container .image{
  width: 500px; height: 500px;
  z-index: 1;
  margin-bottom: 30px;
  margin-top: 5px;
  object-fit: cover;
  position: absolute;
  top: 0; left: 0; right: 0;
  width: 100%;
  height: 80vh;
  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient(black, transparent);
}
.image-mask .container p{
  font-size: 20px;
  color: #0c374d;
  padding: 10px 50px;
  z-index: 2;
}
/* end image masking */

/* kpr section */
.kpr{
  width: 100%;
  height: 50vh;
  position: relative;
  overflow: hidden;
  background: rgb(87, 86, 86);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  flex-direction: column;
}
.kpr .h1{
  padding: 5px;
  font-size: 50px;
  color: #15ccf9;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  cursor: pointer;
}
/* end kpr section */
