@font-face {
  font-family: old;
  src: url(extra_old/ExtraOld_PERSONAL_USE_ONLY.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
/* nav sec */
header {
  background: rgb(11, 36, 11);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: old;
}
header .logo h1 {
  font-size: 30px;
  padding: 10px 20px;
  color: white;
}
header .logo h1 span {
  color: aquamarine;
}
header .navbar{
  display: flex;
  flex-direction: row;
  padding: 10px;
}
header .navbar ul{
  display: flex;
  flex-direction: row;
  padding: 10px;
}
header .navbar ul li {
  padding: 10px;
  margin: 3px;
}
header .navbar ul li a {
  padding: 20px 5px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  transition: all 0.5s ease;
}
header .navbar ul li a:hover {
  color: aquamarine;
}
header .navbar ul li a:active {
  color: aqua;
}
.toggle{
  height: 34px;
  width: 44px;
  background: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 15px;
  border: none;
  display: none;
}
.toggle:focus{
  outline: none;
  box-shadow: 0 0 35px rgba(255, 255, 255, 0.684);
}
.toggle span{
  height: 2px;
  width: 25px;
  background: rgb(11, 36, 11);
  display: block;
  margin: auto;
  position: relative;
}
.toggle span::before,
.toggle span::after{
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 100%;
  height: 100%;
  background: rgb(11, 36, 11);
}
.toggle span::before{
  transform: translateY(-6px);
}
.toggle span::after{
  transform: translateY(6px);
}

@media(max-width:990px){
  .toggle{
    display: block;
  }
  header .navbar.open{
    visibility: visible;
  }
  header .navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 100vw;
  position: fixed;
  top: 63px; left: 0;
  background: rgb(11, 36, 11);
  visibility: hidden;
  transition: all .6s ease;
  }
  header .navbar ul{
    height: 40vh;
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  }
}
/* end nav sec */
